@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root{
--black: #151515;
--orange: #eb5231;
--blue: #b9ccde;
--grey-1: #f9f9f9;
--grey-2: #f2f1ef;
--grey-3: #a09f9e;
--white: #fff;
--y-gradient: linear-gradient(180deg,#ffbc57,#b5691a 23.44%,#703a43 48.96%,#823497 70.83%,#4799c1);
--y-gradient-inverted: linear-gradient(0,#ffbc57,#b5691a 23.44%,#703a43 48.96%,#823497 70.83%,#4799c1);
--x-gradient: linear-gradient(90deg,#ffbc57,#b5691a 23.44%,#703a43 48.96%,#823497 70.83%,#4799c1);
--bg: var(--black);
--fg: var(--white);
--font-primary: "Suisse Intl",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
--font-secondary: "Pitch Web",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
--y-spacer: 3.472vw;
--y-spacer-negative: -3.472vw;
--y-spacer-1: 6.944vw;
--y-spacer-1-negative: -6.944vw;
--y-spacer-2: 10.417vw;
--y-spacer-2-negative: -10.417vw;
--y-spacer-3: 13.889vw;
--y-spacer-3-negative: -13.889vw;
--y-spacer-4: 20.833vw;
--y-spacer-4-negative: -20.833vw;
--x-spacer-lg: 4.166vw;
--x-spacer-lg-negative: -4.166vw;
--x-spacer: 2.083vw;
--x-spacer-negative: -2.083vw;
--x-spacer-sm: 1.041vw;
--x-spacer-sm-negative: -1.041vw;
--radius: 0.694vw;
--radius-s: 0.139vw;
--grid-gap: 2.778vw;
font-feature-settings: "liga","clig";
font-variant-ligatures: common-ligatures;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body, html {
  overscroll-behavior: none;
  font-family: var(--font-primary);
  background: var(--bg);
}

.header_header____5Dq {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: var(--x-spacer-sm);
  background-color: var(--bg);
  position: relative;
}

.header_header____5Dq .header_inner__eSf6j {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: var(--grid-gap);
  padding: 0 1.389vw 1.5vw;
  align-items: center;
  color: var(--fg);
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.header_home__MEQWY {
  display: block;
  grid-column: span 4;
  margin-left: -1vw;
}

.header_navigation-item__li5I8:first-of-type {
  grid-column: 11 / span 2;
}

.p, .s, .xs {
  font-weight: 300;
}

.s, .xs {
  line-height: 135%;
}
.s {
  font-size: 1.458vw;
  letter-spacing: .03em;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}
*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

main {
  background-color: var(--bg);
  padding: 0 var(--x-spacer);
}

main {
  display: block;
}

element.style {
  background-color: var(--bg);
  color: var(--fg);
}

.link, a {
  position: relative;
  font-family: var(--font-primary);
  transition: color .3s cubic-bezier(.19,1,.22,1);
}
a {
  color: inherit;
  text-decoration: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

header {
  display: block;
  unicode-bidi: isolate;
}

.home_hero__vJLkN {
  padding: var(--y-spacer-3) 1.389vw;
  padding-bottom: 4.167vw;
  margin-top: var(--y-spacer-1-negative);
  color: var(--fg);
  min-height: 87.278vw;
  display: flex
;
  flex-direction: column;
  position: relative;
  pointer-events: none !important;
}

section {
  display: block;
  unicode-bidi: isolate;
}

.home_hero-image__QFiue{
    position: absolute;
    left: 19.7%;
    top: 20%;
    width: 56.597vw;
    height: 53.125vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 1;
    object-fit: contain;
}

img {
    object-fit: cover;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}
img {
    border-style: solid;
}
img {
    border-style: none;
}

.home_heading__56sD2 {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

element.style {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 32.1719, 0, 1);
}
.h1 {
  font-size: 9.645vw;
  line-height: 90%;
  letter-spacing: -.01em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}
*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}
user agent stylesheet
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.ol-5-col {
  margin-left: calc(4.79vw * 5);
}

.h1 {
  font-size: 9.645vw;
  line-height: 90%;
  letter-spacing: -.01em;
}

.stripes_wrapper__rRsa5 {
  position: absolute;
  height: 100%;
  width: calc(100% + var(--x-spacer-lg));
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  left: var(--x-spacer-negative);
  top: var(--y-spacer);
}

.stripes_line__0mC2c.stripes_a__dlk6e {
  left: var(--x-spacer);
}

.stripes_line__0mC2c.stripes_b__ZbuGG {
  left: 26%;
}

.stripes_line__0mC2c.stripes_c__bKlfI {
  left: 40.5%;
}

.stripes_wrapper__rRsa5:not(.stripes_simple___EZhs) .stripes_line__0mC2c.stripes_d__TV6Zt {
  background: var(--y-gradient);
}

.stripes_line__0mC2c.stripes_d__TV6Zt {
  left: 50%;
}

.stripes_line__0mC2c.stripes_e__fTlAj {
  left: 59.5%;
}

.stripes_line__0mC2c.stripes_f__mnJYv {
  left: 74%;
}


.stripes_line__0mC2c.stripes_g__sg_6e {
  right: var(--x-spacer);
}

.home_mark__85LkS {
  position: absolute;
  width: 6.736vw;
  height: 7.708vw;
  color: var(--orange);
  top: 35%;
  right: 1.379vw;
  z-index: 2;
}

.home_callout__haRsE {
  margin-top: auto;
  position: relative;
  letter-spacing: 0;
}

.or-15-col {
  margin-right: calc(4.79vw * 15);
}

.home_slides__IpXtK {
  display: flex;
  justify-content: center;
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer) 1.389vw;
  position: relative;
}

.home_slides__IpXtK .home_inner__L8_72 {
  padding-top: var(--y-spacer);
}

.indicators_indicators__ShvfX {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: var(--grid-gap);
  font-weight: 300;
  position: relative;
  z-index: 100;
}

.indicators_indicators__ShvfX li.indicators_active__YPE0D:after {
  opacity: 1;
}

.indicators_indicators__ShvfX li:after {
  content: "";
  display: block;
  width: .694vw;
  height: .694vw;
  background-color: var(--orange);
  border-radius: 50%;
  margin-left: .8vw;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

ol, ul {
  list-style: none;
}
fieldset, ol, ul {
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.indicators_indicators__ShvfX li:first-child {
  grid-column: span 5;
}

.indicators_indicators__ShvfX li.indicators_active__YPE0D, .indicators_indicators__ShvfX li.indicators_active__YPE0D:after {
  opacity: 1;
}

.indicators_indicators__ShvfX li {
  position: relative;
  display: flex
;
  align-items: center;
  margin-right: auto;
  margin-left: .4vw;
  opacity: .5;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.full-height-slide_wrapper__eSiU7:first-of-type {
  margin-top: -60vh;
}

.full-height-slide_wrapper__eSiU7 {
  opacity: 0;
  padding-top: 100vh;
}

.home_slides__IpXtK .home_slide__nf2Eh {
  display: grid
;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: var(--grid-gap);
}

.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj {
  display: grid
;
  grid-template-rows: 1fr 3fr;
  grid-column: span 15;
}

.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj .home_title__svGc_ {
  grid-row-start: 2;
  font-size: 10.417vw;
}

.or-3-col {
  margin-right: calc(4.79vw * 3);
}

.home_slides__IpXtK .home_inner__L8_72 aside {
  display: grid
;
  grid-template-rows: 1fr 3fr;
  grid-column: span 5;
}

aside {
  display: block;
  unicode-bidi: isolate;
}

.home_arrow-icon__g__27 {
  width: 1.528vw;
}


.text-muted {
  color: var(--grey-3);
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
button {
  background-color: transparent;
  background-image: none;
  padding: 0;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.full-height-slide_wrapper__eSiU7 {
  opacity: 0;
  padding-top: 100vh;
}

.home_slides__IpXtK .home_slide__nf2Eh {
  display: grid
;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: var(--grid-gap);
}

.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj {
  display: grid
;
  grid-template-rows: 1fr 3fr;
  grid-column: span 15;
}

.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj .home_title__svGc_ {
  grid-row-start: 2;
  font-size: 10.417vw;
}

.home_slides__IpXtK .home_inner__L8_72 aside {
  display: grid
;
  grid-template-rows: 1fr 3fr;
  grid-column: span 5;
}

.full-height-slide_wrapper__eSiU7:last-of-type {
  padding-bottom: 25vh;
}

.full-height-slide_wrapper__eSiU7 {
  opacity: 0;
  padding-top: 100vh;
}

.home_slides__IpXtK .home_slide__nf2Eh {
  display: grid
;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: var(--grid-gap);
}


.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj {
    display: grid
;
    grid-template-rows: 1fr 3fr;
    grid-column: span 15;
}

.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj .home_title__svGc_ {
  grid-row-start: 2;
  font-size: 10.417vw;
}

.home_slides__IpXtK .home_inner__L8_72 aside {
  display: grid
;
  grid-template-rows: 1fr 3fr;
  grid-column: span 5;
}

.home_arrow-icon__g__27 {
  width: 1.528vw;
}

/* Image section */

.home_image__Ihy8J {
  position: relative;
}

.stripes_wrapper__rRsa5 {
  position: absolute;
  height: 100%;
  width: calc(100% + var(--x-spacer-lg));
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  left: var(--x-spacer-negative);
  top: var(--y-spacer);
}

.stripes_line__0mC2c {
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: var(--fg);
}

.home_image-intermission__j98AZ {
  margin: 0 var(--x-spacer-negative);
  padding-top: var(--y-spacer-3);
  position: relative;
}

img {
  object-fit: cover;
}

img, video {
  max-width: 100%;
  height: auto;
}

img {
  border-style: solid;
}
img {
  border-style: none;
}
*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.home_how__tz4hY {
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer-4) 1.389vw;
}

.h2 {
  font-size: 4.887vw;
  line-height: 95%;
}

.mb-1 {
  margin-bottom: 1vw;
}

.home_first-cta__pTCzU {
  display: grid
;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: var(--grid-gap);
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer-2) 1.389vw;
  margin-top: var(--y-spacer-1-negative);
}

.home_first-cta__pTCzU .home_title__svGc_ {
  grid-column: span 15;
}

.or-7-col {
  margin-right: calc(4.79vw * 7);
}

.home_first-cta__pTCzU .home_action__ojUj6 {
  grid-column: span 5;
}

.button_button__Q9XfT {
  position: relative;
  display: flex
;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-start;
  font-family: var(--font-primary);
  font-size: 1.458vw;
  font-weight: 300;
  padding: .5vw 1.778vw;
  overflow: hidden;
  white-space: nowrap;
  transform: translateZ(0);
  width: -moz-fit-content;
  width: fit-content;
  color: var(--fg);
  cursor: pointer;
  border-radius: 2.083vw;
  border: 1px solid var(--fg);
  transition: border-color .3s cubic-bezier(.28,.44,.49,1) .2s;
}

.home_pre-models__5Wvou {
  display: grid
;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: var(--grid-gap);
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer-2) 1.389vw;
}

.home_pre-models__5Wvou aside {
  grid-column: span 5;
}

.home_pre-models__5Wvou p {
  grid-column: span 15;
}

.p, .p-over {
  line-height: 145%;
  letter-spacing: .03em;
}

.home_model__T_6WI {
    display: grid
;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: var(--grid-gap);
    color: var(--fg);
    padding: 0 1.389vw var(--y-spacer-3) 1.389vw;
    position: relative;
}

.stripes_wrapper__rRsa5 {
  position: absolute;
  height: 100%;
  width: calc(100% + var(--x-spacer-lg));
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  left: var(--x-spacer-negative);
  top: var(--y-spacer);
}

.home_model__T_6WI .home_title__svGc_ {
  grid-column: span 5;
}
.h3 {
  font-size: 3.002vw;
  line-height: 110%;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.home_model__T_6WI .home_content__fn2aj {
  grid-column: span 15;
  display: grid
;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(15, 1fr);
}

.home_model__T_6WI .home_content__fn2aj .home_img-large__12lSA {
  grid-column: span 10;
  transform: scale(1.065);
}

.home_model__T_6WI .home_content__fn2aj .home_img-small__A4lAB {
  grid-column: span 5;
  transform: scale(1.065) translateY(-.417vw);
}