@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace,monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,strong {
  font-weight: bolder
}

code,kbd,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,input {
  overflow: visible
}

input {
  transition: box-shadow .2s ease
}

input:focus {
  outline: none;
  box-shadow: 0 1px 0 0 var(--grey-3)
}

button,select {
  text-transform: none
}

[type=button],[type=reset],[type=submit],button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

[hidden],template {
  display: none
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
  margin: 0
}

button {
  background-color: transparent;
  background-image: none;
  padding: 0
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

fieldset,ol,ul {
  margin: 0;
  padding: 0
}

ol,ul {
  list-style: none
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5
}

*,:after,:before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0
}

hr {
  border-top-width: 1px
}

img {
  border-style: solid
}

textarea {
  resize: vertical
}

input::placeholder,textarea::placeholder {
  color: var(--grey-3)
}

table {
  border-collapse: collapse
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

button,input,optgroup,select,textarea {
  padding: 0;
  line-height: inherit;
  color: inherit
}

code,kbd,pre,samp {
  font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}

audio,canvas,embed,iframe,img,object,svg,video {
  display: block
}

img,video {
  max-width: 100%;
  height: auto
}

@font-face {
  font-family: Pitch Web;
  src: url(/fonts/pitch-web-regular.woff2) format("woff2"),url(/fonts/pitch-web-regular.woff) format("woff");
  font-display: block;
  unicode-range: U+000-5ff
}

@font-face {
  font-family: Suisse Intl;
  src: url(/fonts/SuisseIntl-Light-WebS.woff2) format("woff2"),url(/fonts/SuisseIntl-Light-WebS.woff) format("woff");
  font-display: block;
  unicode-range: U+000-5ff;
  font-weight: 300
}

@font-face {
  font-family: Suisse Intl;
  src: url(/fonts/SuisseIntl-Medium-WebS.woff2) format("woff2"),url(/fonts/SuisseIntl-Medium-WebS.woff) format("woff");
  font-display: block;
  font-weight: 400;
  unicode-range: U+000-5ff
}

:root {
  --black: #151515;
  --orange: #eb5231;
  --blue: #b9ccde;
  --grey-1: #f9f9f9;
  --grey-2: #f2f1ef;
  --grey-3: #a09f9e;
  --white: #fff;
  --y-gradient: linear-gradient(180deg,#ffbc57,#b5691a 23.44%,#703a43 48.96%,#823497 70.83%,#4799c1);
  --y-gradient-inverted: linear-gradient(0,#ffbc57,#b5691a 23.44%,#703a43 48.96%,#823497 70.83%,#4799c1);
  --x-gradient: linear-gradient(90deg,#ffbc57,#b5691a 23.44%,#703a43 48.96%,#823497 70.83%,#4799c1);
  --bg: var(--black);
  --fg: var(--white);
  --font-primary: "Suisse Intl",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-secondary: "Pitch Web",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --y-spacer: 3.472vw;
  --y-spacer-negative: -3.472vw;
  --y-spacer-1: 6.944vw;
  --y-spacer-1-negative: -6.944vw;
  --y-spacer-2: 10.417vw;
  --y-spacer-2-negative: -10.417vw;
  --y-spacer-3: 13.889vw;
  --y-spacer-3-negative: -13.889vw;
  --y-spacer-4: 20.833vw;
  --y-spacer-4-negative: -20.833vw;
  --x-spacer-lg: 4.166vw;
  --x-spacer-lg-negative: -4.166vw;
  --x-spacer: 2.083vw;
  --x-spacer-negative: -2.083vw;
  --x-spacer-sm: 1.041vw;
  --x-spacer-sm-negative: -1.041vw;
  --radius: 0.694vw;
  --radius-s: 0.139vw;
  --grid-gap: 2.778vw;
  font-feature-settings: "liga","clig";
  font-variant-ligatures: common-ligatures
}

#__next,body,html {
  overscroll-behavior: none;
  font-family: var(--font-primary);
  background: var(--bg)
}

main {
  background-color: var(--bg);
  padding: 0 var(--x-spacer)
}

.h1 {
  font-size: 9.645vw;
  line-height: 90%;
  letter-spacing: -.01em
}

.h2 {
  font-size: 4.887vw;
  line-height: 95%
}

.h3 {
  font-size: 3.002vw;
  line-height: 110%
}

.h4 {
  font-size: 2.315vw;
  line-height: 120%
}

.h5 {
  font-size: 2.57vw;
  line-height: 135%;
  letter-spacing: .01em
}

.h5.text-light {
  font-weight: 300;
  letter-spacing: -.02em
}

.p-over {
  font-size: 2.153vw;
  font-weight: 300
}

.p,.p-over {
  line-height: 145%;
  letter-spacing: .03em
}

.p {
  font-size: 1.667vw;
  font-weight: 400
}

.s {
  font-size: 1.458vw;
  letter-spacing: .03em
}

.s,.xs {
  line-height: 135%
}

.xs {
  font-size: 1.029vw;
  letter-spacing: .04em
}

.p,.s,.xs {
  font-weight: 300
}

.p.text-medium,.s.text-medium,.xs.text-medium {
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 125%
}

.text-micro {
  font-family: var(--font-secondary);
  font-size: 1.111vw;
  line-height: 135%
}

.text-accent {
  color: var(--orange)
}

.text-muted {
  color: var(--grey-3)
}

.text-white {
  color: var(--grey-1)
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-medium {
  font-weight: 500
}

.text-light {
  font-weight: 300
}

.text-italic {
  font-style: italic
}

.text-uppercase {
  text-transform: uppercase
}

.text-initial {
  text-transform: none
}

.mb-1 {
  margin-bottom: 1vw
}

.mb-2 {
  margin-bottom: 1.5vw
}

.mb-3 {
  margin-bottom: 2.8vw
}

.mb-5 {
  margin-bottom: 5vw
}

.mb-7 {
  margin-bottom: 7vw
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--x-spacer);
  align-items: center;
  position: relative
}

.two-columns+.two-columns {
  margin-top: var(--y-spacer-lg)
}

img {
  object-fit: cover
}

.link,a {
  position: relative;
  font-family: var(--font-primary);
  transition: color .3s cubic-bezier(.19,1,.22,1)
}

.link:not(.no-decoration):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .075em;
  min-height: 1px;
  transform-origin: right;
  transform: scaleX(0);
  background: var(--x-gradient);
  transition: transform .95s cubic-bezier(.19,1,.22,1)
}

.link.decorated,.link:hover {
  color: var(--gradient);
  outline: none
}

.link:focus {
  outline: none
}

.link.decorated:after,.link:not(.no-decoration):hover:after {
  transform-origin: left;
  transform: scaleX(1)
}

.decorated.simple:after {
  transition: background .95s cubic-bezier(.19,1,.22,1);
  background: var(--grey-3)
}

.decorated.simple:hover:after {
  background: var(--x-gradient)
}

.ol-1-col {
  margin-left: 4.79vw
}

.ol-2-col {
  margin-left: calc(4.79vw * 2)
}

.ol-3-col {
  margin-left: calc(4.79vw * 3)
}

.ol-4-col {
  margin-left: calc(4.79vw * 4)
}

.ol-5-col {
  margin-left: calc(4.79vw * 5)
}

.ol-6-col {
  margin-left: calc(4.79vw * 6)
}

.ol-7-col {
  margin-left: calc(4.79vw * 7)
}

.ol-8-col {
  margin-left: calc(4.79vw * 8)
}

.ol-9-col {
  margin-left: calc(4.79vw * 9)
}

.ol-10-col {
  margin-left: calc(4.79vw * 10)
}

.ol-11-col {
  margin-left: calc(4.79vw * 11)
}

.ol-12-col {
  margin-left: calc(4.79vw * 12)
}

.ol-13-col {
  margin-left: calc(4.79vw * 13)
}

.ol-14-col {
  margin-left: calc(4.79vw * 14)
}

.ol-15-col {
  margin-left: calc(4.79vw * 15)
}

.ol-16-col {
  margin-left: calc(4.79vw * 16)
}

.ol-17-col {
  margin-left: calc(4.79vw * 17)
}

.ol-18-col {
  margin-left: calc(4.79vw * 18)
}

.ol-19-col {
  margin-left: calc(4.79vw * 19)
}

.or-1-col {
  margin-right: 4.79vw
}

.or-2-col {
  margin-right: calc(4.79vw * 2)
}

.or-3-col {
  margin-right: calc(4.79vw * 3)
}

.or-4-col {
  margin-right: calc(4.79vw * 4)
}

.or-5-col {
  margin-right: calc(4.79vw * 5)
}

.or-6-col {
  margin-right: calc(4.79vw * 6)
}

.or-7-col {
  margin-right: calc(4.79vw * 7)
}

.or-8-col {
  margin-right: calc(4.79vw * 8)
}

.or-9-col {
  margin-right: calc(4.79vw * 9)
}

.or-10-col {
  margin-right: calc(4.79vw * 10)
}

.or-11-col {
  margin-right: calc(4.79vw * 11)
}

.or-12-col {
  margin-right: calc(4.79vw * 12)
}

.or-13-col {
  margin-right: calc(4.79vw * 13)
}

.or-14-col {
  margin-right: calc(4.79vw * 14)
}

.or-15-col {
  margin-right: calc(4.79vw * 15)
}

.or-16-col {
  margin-right: calc(4.79vw * 16)
}

.or-17-col {
  margin-right: calc(4.79vw * 17)
}

.or-18-col {
  margin-right: calc(4.79vw * 18)
}

.or-19-col {
  margin-right: calc(4.79vw * 19)
}

@media (max-width: 800px) {
  :root {
      --header-height:13.067vw;
      --header-height-negative: -13.067vw;
      --two-px: 53.333vw;
      --onefifty-px: 40vw;
      --one-px: 26.667vw;
      --fifty-px: 13.333vw;
      --y-spacer: 6.667vw;
      --y-spacer-negative: -6.667vw;
      --y-spacer-lg: 20vw;
      --y-spacer-lg-negative: -20vw;
      --x-spacer: 2.667vw;
      --x-spacer-negative: -2.667vw;
      --x-spacer-sm: 1.333vw;
      --x-spacer-sm-negative: -1.333vw;
      --grid-gap: 8vw
  }

  .hide-on-mobile {
      display: none!important
  }

  .h1 {
      font-size: 10.667vw
  }

  .h2 {
      font-size: 7.467vw
  }

  .h3 {
      font-size: 5.867vw
  }

  .h4 {
      font-size: 5.067vw
  }

  .h5 {
      font-size: 6.4vw
  }

  .p-over {
      font-size: 2.153vw
  }

  .p {
      font-size: 6.4vw
  }

  .s,.text-micro {
      font-size: 4.267vw
  }

  .xs {
      font-size: 2.933vw
  }

  .mb-1 {
      margin-bottom: 3.911vw
  }

  .mb-2 {
      margin-bottom: 5.867vw
  }

  .mb-3 {
      margin-bottom: 8.8vw
  }

  .mb-5 {
      margin-bottom: 17.6vw
  }

  .mb-7 {
      margin-bottom: 26.4vw
  }

  .two-columns {
      grid-template-columns: 1fr
  }

  .keen-slider {
      overflow: visible
  }

  .ol-1-col {
      margin-left: 20vw
  }

  .ol-2-col {
      margin-left: calc(20vw * 2)
  }

  .ol-3-col {
      margin-left: calc(20vw * 3)
  }

  .ol-4-col {
      margin-left: calc(20vw * 4)
  }

  .ol-5-col {
      margin-left: calc(20vw * 5)
  }

  .ol-6-col {
      margin-left: calc(20vw * 6)
  }

  .ol-7-col {
      margin-left: calc(20vw * 7)
  }

  .ol-8-col {
      margin-left: calc(20vw * 8)
  }

  .ol-9-col {
      margin-left: calc(20vw * 9)
  }

  .ol-10-col {
      margin-left: calc(20vw * 10)
  }

  .ol-11-col {
      margin-left: calc(20vw * 11)
  }

  .ol-12-col {
      margin-left: calc(20vw * 12)
  }

  .ol-13-col {
      margin-left: calc(20vw * 13)
  }

  .ol-14-col {
      margin-left: calc(20vw * 14)
  }

  .ol-15-col {
      margin-left: calc(20vw * 15)
  }

  .ol-16-col {
      margin-left: calc(20vw * 16)
  }

  .ol-17-col {
      margin-left: calc(20vw * 17)
  }

  .ol-18-col {
      margin-left: calc(20vw * 18)
  }

  .ol-19-col {
      margin-left: calc(20vw * 19)
  }

  .or-1-col {
      margin-right: 20vw
  }

  .or-2-col {
      margin-right: calc(20vw * 2)
  }

  .or-3-col {
      margin-right: calc(20vw * 3)
  }

  .or-4-col {
      margin-right: calc(20vw * 4)
  }

  .or-5-col {
      margin-right: calc(20vw * 5)
  }

  .or-6-col {
      margin-right: calc(20vw * 6)
  }

  .or-7-col {
      margin-right: calc(20vw * 7)
  }

  .or-8-col {
      margin-right: calc(20vw * 8)
  }

  .or-9-col {
      margin-right: calc(20vw * 9)
  }

  .or-10-col {
      margin-right: calc(20vw * 10)
  }

  .or-11-col {
      margin-right: calc(20vw * 11)
  }

  .or-12-col {
      margin-right: calc(20vw * 12)
  }

  .or-13-col {
      margin-right: calc(20vw * 13)
  }

  .or-14-col {
      margin-right: calc(20vw * 14)
  }

  .or-15-col {
      margin-right: calc(20vw * 15)
  }

  .or-16-col {
      margin-right: calc(20vw * 16)
  }

  .or-17-col {
      margin-right: calc(20vw * 17)
  }

  .or-18-col {
      margin-right: calc(20vw * 18)
  }

  .or-19-col {
      margin-right: calc(20vw * 19)
  }
}

@media (min-width: 800px) {
  .hide-on-desktop {
      display:none!important
  }
}

address {
  font-style: normal
}

input:-webkit-autofill,input:-webkit-autofill:active,input:-webkit-autofill:focus,input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px var(--bg) inset!important
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--fg)!important
}

input {
  caret-color: var(--fg)
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: 50%;
  background-size: cover;
  cursor: pointer
}

.yt-lite.lyt-activated:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all .2s cubic-bezier(0,0,.2,1)
}

.yt-lite:after {
  content: "";
  display: block;
  padding-bottom: var(--aspect-ratio)
}

.yt-lite>iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.yt-lite>.lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: .8;
  border-radius: 14%;
  transition: all .2s cubic-bezier(0,0,.2,1)
}

.yt-lite:hover>.lty-playbtn {
  background-color: red;
  opacity: 1
}

.yt-lite>.lty-playbtn:before {
  content: "";
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 11px 0 11px 19px
}

.yt-lite>.lty-playbtn,.yt-lite>.lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0)
}

.yt-lite.lyt-activated {
  cursor: unset
}

.yt-lite.lyt-activated:before,.yt-lite.lyt-activated>.lty-playbtn {
  opacity: 0;
  pointer-events: none
}

.button_button__Q9XfT {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-start;
  font-family: var(--font-primary);
  font-size: 1.458vw;
  font-weight: 300;
  padding: .5vw 1.778vw;
  overflow: hidden;
  white-space: nowrap;
  transform: translateZ(0);
  width: -moz-fit-content;
  width: fit-content;
  color: var(--fg);
  cursor: pointer;
  border-radius: 2.083vw;
  border: 1px solid var(--fg);
  transition: border-color .3s cubic-bezier(.28,.44,.49,1) .2s
}

.button_button__Q9XfT:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--x-gradient);
  opacity: 0;
  transition: transform .3s cubic-bezier(.28,.44,.49,1),opacity .3s cubic-bezier(.28,.44,.49,1);
  border-radius: 2.083vw;
  z-index: -1
}

.button_button__Q9XfT:hover {
  border-color: transparent
}

.button_button__Q9XfT:hover:before {
  opacity: 1
}

.button_button__Q9XfT.button_full-width__of9Ms {
  width: 100%;
  justify-content: center
}

.button_button__Q9XfT.button_light__WVYy3:hover {
  color: var(--bg);
  transition: color .2s ease-in
}

.button_arrow__O6BvD {
  width: 1.597vw;
  margin-left: 1vw;
  margin-right: -.7vw
}

@media (max-width: 800px) {
  .button_button__Q9XfT {
      font-size:6.4vw;
      padding: 3vw 8vw;
      border-radius: 14.4vw
  }

  .button_button__Q9XfT.button_secondary__LgZOe {
      border-radius: 16vw
  }

  .button_button__Q9XfT.button_full-width__of9Ms {
      justify-content: center
  }

  .button_arrow__O6BvD {
      width: 6.267vw;
      height: 2.933vw;
      margin-left: 1.333vw;
      margin-right: -1.333vw
  }
}

.newsletter_form__tnrQ1 {
  margin-top: 1vw;
  border: .069vw solid var(--grey-3);
  border-radius: 2.083vw;
  padding: .3vw 1vw;
  display: inline-flex;
  align-items: center;
  width: 100%
}

.newsletter_input__JsNZL {
  background: transparent;
  height: 2.5vw;
  width: 29vw;
  letter-spacing: -.01em;
  line-height: 1.2;
  margin-right: 1.319vw;
  margin-left: 1.319vw
}

.newsletter_input__JsNZL:focus {
  box-shadow: none
}

.newsletter_submit__Ity96 svg {
  width: 1.111vw;
  height: 1.111vw
}

.newsletter_label__SwqFG {
  margin-left: var(--x-spacer);
  margin-right: 2vw
}

.newsletter_label__SwqFG .newsletter_links__mKcRL {
  font-family: var(--font-secondary)
}

.newsletter_label__SwqFG:last-of-type {
  margin-bottom: 1vw
}

.newsletter_wrapper__lWjwE {
  position: relative
}

.newsletter_thanks__nngEj {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: .3vw 1vw
}

@media (max-width: 800px) {
  .newsletter_wrapper__lWjwE p {
      font-size:4.267vw
  }

  .newsletter_form__tnrQ1 {
      margin: 3.2vw 0 8vw;
      border-radius: 8vw
  }

  .newsletter_input__JsNZL {
      height: 8.533vw;
      margin-right: 2.667vw;
      width: 70.733vw;
      padding: 0 2vw
  }

  .newsletter_submit__Ity96 svg {
      height: 4.533vw;
      width: 6.267vw
  }
}

.stripes_wrapper__rRsa5 {
  position: absolute;
  height: 100%;
  width: calc(100% + var(--x-spacer-lg));
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  left: var(--x-spacer-negative);
  top: var(--y-spacer)
}

.stripes_line__0mC2c {
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: var(--fg)
}

.stripes_line__0mC2c.stripes_a__dlk6e {
  left: var(--x-spacer)
}

.stripes_line__0mC2c.stripes_b__ZbuGG {
  left: 26%
}

.stripes_line__0mC2c.stripes_c__bKlfI {
  left: 40.5%
}

.stripes_line__0mC2c.stripes_d__TV6Zt {
  left: 50%
}

.stripes_wrapper__rRsa5:not(.stripes_simple___EZhs) .stripes_line__0mC2c.stripes_d__TV6Zt {
  background: var(--y-gradient)
}

.stripes_wrapper__rRsa5.stripes_inverted__AS5SW .stripes_line__0mC2c.stripes_d__TV6Zt {
  background: var(--y-gradient-inverted)
}

.stripes_line__0mC2c.stripes_e__fTlAj {
  left: 59.5%
}

.stripes_line__0mC2c.stripes_f__mnJYv {
  left: 74%
}

.stripes_line__0mC2c.stripes_g__sg_6e {
  right: var(--x-spacer)
}

.footer_footer__SH230 {
  background-color: var(--bg);
  color: var(--fg);
  padding: 0;
  margin-bottom: var(--x-spacer-lg-negative)
}

.footer_inner__hdEE8 {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  min-height: 34.722vw;
  padding: var(--y-spacer-1) 1.389vw;
  padding-top: 1vw;
  position: relative;
  z-index: 1
}

.footer_brand__ZrtcI {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 8
}

.footer_wordmark__7TESn {
  width: 13.542vw;
  color: var(--orange)
}

.footer_legals__1CgQG {
  display: flex;
  gap: 2.083vw
}

.footer_legals__1CgQG a {
  font-family: var(--font-secondary)
}

.footer_footer__SH230.footer_light__7__ZZ .footer_wordmark__7TESn {
  color: var(--blue)
}

.footer_social__kg6c3 {
  grid-column: span 4
}

.footer_third__eDygE {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 8
}

.footer_third__eDygE .footer_upper__Z8V3Q {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.footer_third__eDygE .footer_upper__Z8V3Q nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.footer_back-to-top__4j2uU {
  cursor: pointer
}

.footer_back-to-top__4j2uU:focus {
  outline: none
}

.footer_spacer__DTA_r {
  padding-bottom: var(--y-spacer-1)
}

@media (max-width: 800px) {
  .footer_inner__hdEE8 {
      display:grid;
      grid-template-columns: repeat(5,1fr);
      grid-gap: 0
  }

  .footer_brand__ZrtcI {
      padding-top: var(--y-spacer);
      border-top: 1px solid var(--fg);
      grid-column: span 5
  }

  .footer_wordmark__7TESn {
      width: 32vw;
      margin-bottom: var(--y-spacer-4)
  }

  .footer_navigation__r67os {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: var(--y-spacer-2);
      grid-column: 2/-1;
      padding-left: var(--x-spacer);
      border-left: 1px solid var(--fg)
  }

  .footer_navigation__r67os nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start
  }

  .footer_lower____CNr {
      grid-column: span 2
  }

  .footer_legals__1CgQG {
      gap: 5.333vw
  }

  .footer_social__kg6c3 {
      padding-left: var(--x-spacer);
      border-left: 1px solid var(--fg);
      grid-column: span 1
  }
}

.menu-button_menu-button__mWYLH {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background: none;
  align-self: center
}

.menu-button_menu-button__mWYLH svg path {
  fill: var(--fg)
}

.menu-button_menu-button__mWYLH:focus {
  outline: none
}

.menu-button_menu__4NK0H {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20vw;
  padding-bottom: 29.3vw
}

.menu-button_menu__4NK0H ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto
}

.menu-button_menu__4NK0H ul li {
  padding: 5vw 0
}

.menu-button_menu__4NK0H ul li a {
  text-transform: uppercase;
  color: var(--fg)
}

.menu-button_icon__l3ON6 {
  position: absolute;
  right: var(--x-spacer);
  top: 50%;
  transform: translateY(-50%);
  width: 5.6vw;
  z-index: 1
}

.header_header____5Dq {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: var(--x-spacer-sm);
  background-color: var(--bg);
  position: relative
}

.header_header____5Dq .header_inner__eSf6j {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  padding: 0 1.389vw 1.5vw;
  align-items: center;
  color: var(--fg);
  position: relative;
  z-index: 3;
  mix-blend-mode: difference
}

.header_header____5Dq .header_inner__eSf6j.header_light__Jg4uf {
  filter: invert(1)
}

.header_header____5Dq+:first-child {
  margin-top: 10vw
}

.header_navigation-item__li5I8:first-of-type {
  grid-column: 11/span 2
}

.header_navigation-item__li5I8:nth-of-type(2) {
  grid-column: 13/span 3
}

.header_navigation-item__li5I8:nth-of-type(3) {
  grid-column-start: 16;
  grid-column-end: -1
}

.header_banner__Mi2AF {
  color: var(--bg);
  background-color: var(--fg);
  width: 100%
}

.header_home__MEQWY {
  display: block;
  grid-column: span 4;
  margin-left: -1vw
}

.header_logo__y2C92 {
  width: 12.222vw;
  margin-left: 1vw
}

@media (max-width: 800px) {
  .header_header____5Dq {
      margin-top:0;
      overflow: hidden
  }

  .header_header____5Dq .header_inner__eSf6j {
      display: block;
      position: relative;
      height: 6vw;
      grid-template-columns: repeat(5,1fr);
      margin-top: var(--x-spacer);
      mix-blend-mode: normal;
      width: 100%
  }

  .header_header____5Dq .header_inner__eSf6j.header_light__Jg4uf {
      filter: invert(0)
  }

  .header_header____5Dq+*>:first-child {
      margin-top: 0
  }

  .header_home__MEQWY {
      width: 35vw
  }

  .header_logo__y2C92 {
      position: absolute;
      left: 0;
      top: 0;
      width: 35vw
  }

  .header_iso__QOrI9 {
      width: 7vw
  }
}

.full-height-slide_wrapper__eSiU7 {
  opacity: 0;
  padding-top: 100vh
}

.full-height-slide_wrapper__eSiU7:first-of-type {
  margin-top: -60vh
}

.full-height-slide_wrapper__eSiU7:last-of-type {
  padding-bottom: 25vh
}

@media (max-width: 800px) {
  .full-height-slide_wrapper__eSiU7 {
      opacity:1!important;
      padding-top: var(--y-spacer-4)
  }

  .full-height-slide_wrapper__eSiU7:last-of-type {
      padding-bottom: 10vh
  }

  .full-height-slide_wrapper__eSiU7:first-of-type {
      margin-top: 0
  }
}

.illustration_how-illustration__BLE8s {
  position: relative;
  width: 50vw;
  margin: -10vw auto 0
}

.illustration_inner__K_MDy {
  padding-top: var(--y-spacer);
  position: relative
}

.illustration_slide__aNxYI {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  padding-top: var(--y-spacer);
  height: 100vh
}

.illustration_content__5njKj {
  grid-column: span 15
}

.illustration_slide__aNxYI aside {
  grid-column: span 5
}

@media (max-width: 800px) {
  .illustration_inner__K_MDy,.illustration_inner__K_MDy .illustration_slide__aNxYI {
      grid-template-columns:repeat(5,1fr)
  }

  .illustration_content__5njKj {
      grid-column: span 5
  }

  .illustration_slide__aNxYI {
      display: grid;
      grid-template-columns: repeat(20,1fr);
      grid-gap: var(--grid-gap);
      padding-top: var(--y-spacer);
      height: auto;
      border-left: 1px solid;
      padding-left: 8vw
  }

  .illustration_how-image__gYZb2 {
      grid-column: span 5;
      margin-top: -12vw;
      margin-bottom: 5vw
  }
}

.indicators_indicators__ShvfX {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  font-weight: 300;
  position: relative;
  z-index: 100
}

.indicators_indicators__ShvfX li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: .4vw;
  opacity: .5;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.indicators_indicators__ShvfX li:after {
  content: "";
  display: block;
  width: .694vw;
  height: .694vw;
  background-color: var(--orange);
  border-radius: 50%;
  margin-left: .8vw;
  opacity: 0;
  transition: opacity .2s ease-in-out
}

.indicators_indicators__ShvfX li.indicators_active__YPE0D,.indicators_indicators__ShvfX li.indicators_active__YPE0D:after {
  opacity: 1
}

.indicators_indicators__ShvfX li:first-child {
  grid-column: span 5
}

.indicators_indicators__ShvfX li:nth-child(2) {
  grid-column: span 3
}

.indicators_indicators__ShvfX li:nth-child(3) {
  grid-column: span 2
}

@media (max-width: 800px) {
  .indicators_indicators__ShvfX {
      display:none
  }
}

.home_hero__vJLkN {
  padding: var(--y-spacer-3) 1.389vw;
  padding-bottom: 4.167vw;
  margin-top: var(--y-spacer-1-negative);
  color: var(--fg);
  min-height: 87.278vw;
  display: flex;
  flex-direction: column;
  position: relative;
  pointer-events: none!important
}

.home_heading__56sD2 {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%
}

.home_hero-image__QFiue {
  position: absolute;
  left: 19.7%;
  top: 20%;
  width: 56.597vw;
  height: 53.125vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1;
  object-fit: contain
}

.home_callout__haRsE {
  margin-top: auto;
  position: relative;
  letter-spacing: 0
}

.home_mark__85LkS {
  position: absolute;
  width: 6.736vw;
  height: 7.708vw;
  color: var(--orange);
  top: 35%;
  right: 1.379vw;
  z-index: 2
}

.home_slides__IpXtK {
  display: flex;
  justify-content: center;
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer) 1.389vw;
  position: relative
}

.home_slides__IpXtK .home_inner__L8_72 {
  padding-top: var(--y-spacer)
}

.home_slides__IpXtK .home_slide__nf2Eh {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap)
}

.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-column: span 15
}

.home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj .home_title__svGc_ {
  grid-row-start: 2;
  font-size: 10.417vw
}

.home_slides__IpXtK .home_inner__L8_72 aside {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-column: span 5
}

.home_how__tz4hY {
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer-4) 1.389vw
}

.home_how-slides__ZIMoN {
  color: var(--fg);
  padding: 0 1.389vw var(--y-spacer-4) 1.389vw;
  min-height: 57.292vw;
  position: relative
}

.home_first-cta__pTCzU {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer-2) 1.389vw;
  margin-top: var(--y-spacer-1-negative)
}

.home_first-cta__pTCzU .home_title__svGc_ {
  grid-column: span 15
}

.home_first-cta__pTCzU .home_action__ojUj6 {
  grid-column: span 5
}

.home_no-link__EP0Uu:hover {
  color: var(--fg)
}

.home_image__Ihy8J {
  position: relative
}

.home_image-intermission__j98AZ {
  margin: 0 var(--x-spacer-negative);
  padding-top: var(--y-spacer-3);
  position: relative
}

.home_pre-models__5Wvou {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  color: var(--fg);
  padding: var(--y-spacer) 1.389vw var(--y-spacer-2) 1.389vw
}

.home_pre-models__5Wvou aside {
  grid-column: span 5
}

.home_pre-models__5Wvou p {
  grid-column: span 15
}

.home_model__T_6WI {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  color: var(--fg);
  padding: 0 1.389vw var(--y-spacer-3) 1.389vw;
  position: relative
}

.home_model__T_6WI .home_title__svGc_ {
  grid-column: span 5
}

.home_model__T_6WI .home_content__fn2aj {
  grid-column: span 15;
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(15,1fr)
}

.home_model__T_6WI .home_content__fn2aj .home_img-large__12lSA {
  grid-column: span 10;
  transform: scale(1.065)
}

.home_model__T_6WI .home_content__fn2aj .home_img-small__A4lAB {
  grid-column: span 5;
  transform: scale(1.065) translateY(-.417vw)
}

.home_model__T_6WI .home_content__fn2aj .home_caption__D0wAC {
  grid-column: span 10
}

.home_features__rVAqr {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  color: var(--fg);
  padding: 0 1.389vw var(--y-spacer-3) 1.389vw;
  position: relative
}

.home_features__rVAqr .home_title__svGc_ {
  grid-column: span 5;
  font-weight: 400;
  margin-right: var(--x-spacer)
}

.home_features__rVAqr .home_content__fn2aj {
  grid-column: span 15
}

.home_features__rVAqr .home_feature__uVISN {
  margin-top: var(--y-spacer-1)
}

.home_arrow-icon__g__27 {
  width: 1.528vw
}

.home_last-cta__2_xGw {
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-gap: var(--grid-gap);
  color: var(--fg);
  padding: var(--y-spacer-1) 1.389vw var(--y-spacer) 1.389vw;
  position: relative
}

.home_last-cta__2_xGw .home_title__svGc_ {
  grid-column: span 15
}

.home_last-cta__2_xGw .home_action__ojUj6 {
  grid-column: span 5
}

.home_prefooter-img__mb9xG {
  margin-top: -17.5vw;
  z-index: 10
}

.home_video-modal__KCXSH {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: var(--y-spacer-1) var(--y-spacer-2);
  background: rgba(0,0,0,.5);
  z-index: 100;
  transform: translate(-50%,-50%)
}

.home_video-modal__KCXSH .home_close__6BR66 {
  width: 2.083vw;
  position: fixed;
  top: var(--x-spacer);
  right: var(--x-spacer);
  z-index: 101
}

@media (max-width: 800px) {
  .home_hero__vJLkN {
      height:150vw;
      padding-bottom: 0
  }

  .home_hero-image__QFiue {
      top: 15%;
      left: 5%;
      width: 85.333vw;
      height: 80.533vw
  }

  .home_slides__IpXtK {
      overflow: hidden
  }

  .home_features__rVAqr,.home_first-cta__pTCzU,.home_last-cta__2_xGw,.home_model__T_6WI,.home_pre-models__5Wvou,.home_slides__IpXtK .home_indicators__EReIO,.home_slides__IpXtK .home_slide__nf2Eh {
      grid-template-columns: repeat(5,1fr)
  }

  .home_slides__IpXtK .home_indicators__EReIO li:first-child,.home_slides__IpXtK .home_indicators__EReIO li:nth-child(2),.home_slides__IpXtK .home_indicators__EReIO li:nth-child(3) {
      grid-column: span 1
  }

  .home_slides__IpXtK .home_slide__nf2Eh .home_content__fn2aj {
      grid-template-rows: 1fr 15fr;
      grid-column: span 5
  }

  .home_slides__IpXtK .home_slide__nf2Eh aside {
      border-left: 1px solid var(--white);
      padding-left: var(--x-spacer-lg);
      padding-bottom: var(--y-spacer-4);
      margin-bottom: var(--y-spacer-2)
  }

  .home_arrow-icon__g__27 {
      width: 5.333vw
  }

  .home_image-intermission__j98AZ {
      padding: 0
  }

  .home_image-intermission__j98AZ img {
      height: 164.533vw
  }

  .home_first-cta__pTCzU {
      margin: var(--y-spacer) 0
  }

  .home_first-cta__pTCzU .home_title__svGc_,.home_last-cta__2_xGw .home_title__svGc_ {
      grid-column: span 4
  }

  .home_first-cta__pTCzU .home_action__ojUj6,.home_last-cta__2_xGw .home_action__ojUj6 {
      margin-top: var(--y-spacer)
  }

  .home_pre-models__5Wvou aside {
      grid-column: span 5
  }

  .home_pre-models__5Wvou p {
      margin: var(--y-spacer-2) 0;
      grid-column: span 5
  }

  .home_model__T_6WI {
      padding: 0;
      margin-bottom: var(--y-spacer-4)
  }

  .home_model__T_6WI .home_content__fn2aj {
      grid-column: span 5;
      grid-template-columns: repeat(5,1fr);
      padding: 0
  }

  .home_model__T_6WI .home_content__fn2aj .home_img-large__12lSA {
      grid-column: span 5;
      transform: scale(1)
  }

  .home_model__T_6WI .home_content__fn2aj .home_img-small__A4lAB {
      grid-column: 2/-1;
      transform: scale(1) translateY(0)
  }

  .home_model__T_6WI .home_content__fn2aj .home_caption__D0wAC {
      grid-column: 2/-1;
      margin-top: var(--y-spacer)
  }

  .home_features__rVAqr .home_content__fn2aj {
      border-left: 1px solid var(--white);
      padding-left: var(--x-spacer-lg);
      grid-column: span 5
  }

  .home_features__rVAqr .home_title__svGc_ {
      margin-bottom: var(--y-spacer-3)
  }

  .home_features__rVAqr .home_feature__uVISN {
      margin-top: var(--y-spacer-4)
  }

  .home_last-cta__2_xGw {
      padding: 0;
      border-left: 1px solid var(--white);
      padding-left: var(--x-spacer-lg);
      margin-left: 21.4vw
  }

  .home_prefooter-img__mb9xG img {
      height: 120vw
  }

  .home_video-modal__KCXSH {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      padding: 60vw var(--y-spacer-2);
      background: rgba(0,0,0,.5);
      z-index: 100;
      transform: translate(-50%,-50%)
  }

  .home_video-modal__KCXSH .home_close__6BR66 {
      width: 10.667vw;
      position: absolute;
      top: var(--y-spacer);
      right: var(--y-spacer);
      z-index: 101
  }
}
